* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --green: #0A3428;
    --lightgreen: #EBF094;
    --greenish: #BEB950;
}

@font-face {
    font-family: evolve-sens;
    src: url(./fonts/MADE\ Evolve\ Sans\ Bold\ \(PERSONAL\ USE\).otf);
}

@font-face {
    font-family: ebarra-nova;
    src: url(./fonts/IbarraRealNova-VariableFont_wght.ttf);
}

@font-face {
    font-family: inter;
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: evolve-sens-light;
    src: url(./fonts/MADE\ Evolve\ Sans\ Light\ EVO\ \(PERSONAL\ USE\).otf);
}

.item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 11vh;
    background-color: var(--green);
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    position: sticky;
    top: 0;
    z-index: 3;
}

.company-logo p {
    font-size: 0.7rem;
}

.checkbox-input {
    display: none;
}

.horizontal-list {
    width: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--lightgreen);
    font-family: inter, sans-serif;
    padding-left: 36px;
    font-size: 15px;
}

/* toggle button  */
.toggle-btn {
    display: none;
    height: 20px;
    width: 30px;
    margin-left: 0;
    flex-direction: column;
    justify-content: space-between;
}

.toggle-btn>div {
    height: 4px;
    width: 100%;
    background-color: var(--greenish);
}

/* toggle menu begins  */
.toggle-menu {
    height: auto;
    background: var(--green);
    width: 100%;
    position: absolute;
    top: 7vh;
    left: -100%;
    z-index: 1;
    padding: 1rem;
}

.nav-menu-items {
    list-style: none;
}

.nav-menu-items li {
    padding: 0.8rem;
}

.nav-menu-items li a {
    padding-left: 2rem;
    color: var(--greenish);
    text-decoration: none;
    font-size: 1.3rem;
}

/* toggle menu ends  */

.container {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.3);
}

#bg-video {
    pointer-events: none;
    z-index: -2;
}

.over-text {
    height: auto;
    width: 20%;
    font-family: ebarra-nova, serif;
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-size: 44px;
    color: white;
    font-family: inter;
}

/* sections  */
section {
    height: 100vh;
    width: 100%;
}

.sayhello {
    background: #F2F2EC;
    text-align: center;
    flex-direction: column;
    color: #4D4B49;
}

.sayhello span {
    color: var(--greenish);
}

.div1 {
    width: 40%;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: ebarra-nova;
}

.div2 {
    width: 60%;
    margin: 2.5rem;
    font-size: 1.2rem;
    font-family: inter;
}

.sayhello button {
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

/* page 4th  */
.cards-main-container {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.heading {
    display: flex;
    margin-bottom: 2rem;
}

.heading h3 {
    padding: 1rem 1.5rem;
    width: 30vw;
    font-family: inter;
    font-weight: 400;
    text-align: justify;
}

.heading::before {
    content: "";
    height: 2px;
    width: 30%;
    background: var(--greenish);
    position: relative;
}

.heading::after {
    content: "";
    height: 2px;
    width: 30%;
    background: var(--greenish);
    position: relative;
}

.cards-container {
    height: auto !important;
    color: #747373;
    width: 100% !important;
    margin: auto;
}

.cards {
    margin: auto !important;
    padding: 1rem;
}

.cards .item {
    height: auto;
    margin: 1.5rem;
    position: relative;
    padding: 0 0 1.5rem 0;
    border: 1px solid var(--greenish);
}

.card .cardImage {
    height: 260px;
    position: relative;
    width: 106% !important;
    z-index: -1;
    left: -10px;
    top: -10px;
}

.card span {
    color: var(--greenish);
}

.card-content h1 {
    text-align: center;
    padding-top: 1rem;
}

.card p {
    padding: 1.5rem 0.5rem 2.5rem;
    font-family: evolve-sens-light;
    text-align: center;
}

.arrow {
    background: #E4E8E3;
    padding: 1.2rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.content {
    position: relative;
    left: -14px;
    color: gray !important;
    font-family: ebarra-nova;
}

/* carousel slider  */
.carousel {
    height: 90vh !important;
    background: #E3EADD;
    color: var(--green);
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    position: relative;
    width: 60%;
    height: 100%;
    margin: 13% auto;
    text-align: center;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.carousel-item h1 {
    padding-bottom: 1rem;
}

.carousel-item p {
    padding: 1rem;
    color: #0C3832;
    font-family: ebarra-nova, serif;
    font-size: 20px;
    font-weight: 500;
}

.carousel-item p i {
    font-family: italic;
    font-size: 0.9rem;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--greenish);
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev span {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-control-next span {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-control-prev {
    left: 10%;
}

.carousel-control-next {
    right: 10%;
}

/* carousel ends  */

.follow {
    height: 95vh !important;
    background: var(--green);
    color: var(--greenish);
    text-align: center;
    padding: 8rem 0;
    position: relative;
}

/* follow container starts  */
.follow-container {
    width: 100%;
    height: 70vh;
    padding: 0 1.5rem;
    margin-top: 1.5rem;
}

.item img {
    height: 250px !important;
    width: 250px !important;
}

.images img {
    height: 100% !important;
    width: 100% !important;
}

.owl-nav button {
    position: absolute;
    top: 0;
    bottom: 0;
}

.owl-prev {
    right: -25px;
}

.owl-next {
    left: -25px;
}

.owl-nav button i {
    font-size: 25px;
}

.owl-nav button i:hover {
    background: transparent;
}

/* follow container starts  */
.form-main-container {
    display: flex;
    background: #EBF094;
    height: 100vh !important;
    flex-wrap: wrap;
}

.form-main-container>div {
    width: 50%;
}

.cannt-find {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    flex-direction: column;
}

.cannt-find h1 {
    font-size: 3rem;
    font-family: inter;
    font-weight: 400;
}

table tr td {
    padding: 10px;
}

table tr td label {
    padding: 8px !important;
    color: rgb(85, 85, 85);
}

table tr td input,
textarea {
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 5px 10px;
    margin-top: 7px;
}

#name,
#upload {
    width: 100%;
}

table button {
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: var(--green);
    color: var(--greenish);
}

/* home-list or last page  */
.options {
    display: flex;
    flex-direction: column;
    height: auto !important;
    padding: 4rem 0;
    color: #5D735E;
}

.contact-container {
    display: flex;
}

.contact-container>div {
    width: 22%;
    height: auto !important;
    padding: 0 1rem;
}

.options ul {
    list-style: none;
}

.options ul li {
    margin-top: 10px;
}

.options ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #747373;
}

.darkText {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #5D735E;
}

/* social icons  */
.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-icons ul {
    flex-direction: row;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.social-icons i {
    font-size: 1.2rem;
    color: #5D735E;
}

.logo {
    text-align: center;
}

.logo img {
    height: 200px;
    width: 200px;
}

.co-logo img {
    height: 200px;
    width: 200px;
    display: none;

}

.logo p {
    font-size: 0.5rem;
    padding-top: 0.7rem;
}

.scroll_to_top {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #91a283;
    font-size: 26px;
    color: #044e3a;
    text-align: center;
    line-height: 55px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 99999;
    cursor: pointer;
    border: solid 9px #dbe1d7;
    opacity: 0;
}
.scroll_to_top.active{
    opacity: 1;
}

.scroll_to_top span {
    position: absolute;
    line-height: 0px;
    bottom: -20px;
    font-family: 'Ibarra Real Nova';
    width: 70px;
    left: -1px;
    right: 0;
    display: flex;
    justify-content: flex-start;
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
}

.cont {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 0 3rem 2rem;
    display: flex;
    justify-content: space-between;
}

.cont .reserve {
    font-size: 12px;
    padding: 0px;
}